<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="vibL()" color="primary">VibL</ion-button>
    <ion-button (click)="vibR()" color="secondary">VibR</ion-button>
    <ion-button (click)="vibS()" color="tertiary">VibS</ion-button>
    <ion-button (click)="vibARRIVAL()" color="success">VibARRIVAL</ion-button>
    <ion-button (click)="vibAR()" color="warning">VibAR</ion-button>
    <ion-button (click)="furON()" color="danger">FurON</ion-button>
    <ion-button (click)="furOFF()" color="light">FurOFF</ion-button>
    <ion-button (click)="test()" color="medium">DDDD</ion-button>
    <ion-button color="dark">EEEEEE</ion-button>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
</div>
</ion-content>
