<ion-header>
  <ion-toolbar mode="ios" class="home-toolbar">
    <ion-title>
      Shh!
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <button (click)="startService()"><img class="logo-img" src="assets/imgs/Logo.png" /></button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
        <button size="large" (click)="getRoute()">
          <ion-icon name="map"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>