<ion-header>
  <ion-toolbar mode="ios" class="home-toolbar">
    <ion-title>
      Shh!
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <button class="big-button" (click)="toggleService()"><img class="logo-img" src="assets/imgs/Logo.png" /></button>
    </ion-row>
    <div class="distance"></div>
    <ion-row justify-content-center>
      <button class="distance-button" size="large" (click)="getRoute()">
        <ion-icon name="map" class="icon-map" color="primary"></ion-icon>
      </button>
      
    </ion-row>
    <ion-row justify-content-center>
        <p>Ver mapa e definir rota</p>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <div class="ion-padding">
    <ion-button (click)="vibL()" color="primary">VibL</ion-button>
    <ion-button (click)="vibR()" color="secondary">VibR</ion-button>
    <ion-button (click)="vibS()" color="tertiary">VibS</ion-button>
    <ion-button (click)="vibARRIVAL()" color="success">VibARRIVAL</ion-button>
    <ion-button (click)="vibAR()" color="warning">VibAR</ion-button>
    <ion-button (click)="furON()" color="danger">FurON</ion-button>
    <ion-button (click)="furOFF()" color="light">FurOFF</ion-button>
    <ion-button (click)="test()" color="medium">TestVibration</ion-button>
    <ion-button color="dark">EEEEEE</ion-button>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
</div>
</ion-content> -->