<ion-header>
  <ion-toolbar mode="ios" class="slides-toolbar">
    <ion-title>Guia de Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="slides-content">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide (click)="slideNext()">

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col>
            <h2>Como usar?</h2>
            <p>Aplicativo de locomoção urbana que empondera pessoas a se locomoverem de uma forma mais segura.</p>
            <br />
            <p>Através da vibração do seu aparelho, você pode andar pela cidade com conforto e segurança.</p>
            <br />
            <p>Os sinais emitidos correspondem aos padrões nacionais indicados para cada direção.</p>
            <br />
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
    <ion-slide (click)="slideNext()">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-icon name="arrow-round-forward" color="primary"></ion-icon>
        </ion-row>
        <ion-row justify-content-center>
          <p>Dobrar a direita</p>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button color="primary" (click)="vibL()"> Experimente
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide (click)="slideNext()">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-icon name="arrow-round-back" color="primary"></ion-icon>
        </ion-row>
        <ion-row justify-content-center>
          <p>Dobrar a esquerda</p>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button color="primary" (click)="vibR()"> Experimente
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide (click)="slideNext()">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-icon name="arrow-round-up" color="primary"></ion-icon>
        </ion-row>
        <ion-row justify-content-center>
          <p>Seguir em frente</p>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button color="primary" (click)="vibS()"> Experimente
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-icon name="pin" color="primary"></ion-icon>
        </ion-row>
        <ion-row justify-content-center>
          <p>Chegada ao destino</p>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button color="primary" (click)="vibARRIVAL()"> Experimente
          </ion-button>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button color="secondary" (click)="goToHomePage()">Vamos começar!</ion-button>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>