.slides-toolbar {
    --background: rgba(68, 32, 93,1);
    --color:#23c687;
}
.slides-content {
    --background:#fff;
    h1 {
        --color:#000;
    }
}

p {
    --color:#000;
}

ion-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 200px;
    --background: #fff;
    --color:rgba(68, 32, 93,1);
}